[Unit]
Description=IDKFS kernel mount and snapshot daemon
After=local-fs.target network.target
Wants=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/idkfsd.conf
ExecStart=/usr/local/bin/idkfsd --image /home/cat/projects/c/myfs.img --mount /home/cat/myfs --socket 127.0.0.1:12345 --store /home/cat/projects/c/myfs.img.snapshots --mode kernel --fs-type idkfs --mount-bin /usr/bin/mount --umount-bin /usr/bin/umount
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
UMask=0027

[Install]
WantedBy=multi-user.target
